
    .sidenav img{
        background:rgb(170, 231, 255);
        padding: 10px;
    }
    .sidenav p a{
        color: rgb(255, 255, 255);
    }
    .navbar.header {
        display: inline-block;
    }
    .menu-button{
        display: inline-block;
        cursor: pointer;
        padding: 10px;
    }
    .bar{
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
    }
    .menu-content{
        display: none;
        background-color: #f9f9f9;
        padding: 10px;
        position: absolute;
        top: 40px;
        left: 10px;
        box-shadow: 0 2px 6px;
    }
    /* .menu-button:hover+.menu-content{
        display: block;
    } */
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row {
        height: auto;
    }
    
    /* Set gray background color and 100% height */
    
    
    .col-sm-2{
        height:650px;
        background-color: rgb(2, 28, 68);
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #e2dfdf;
      color: rgb(36, 32, 32);
      margin-top:10%;
      position: absolute;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row {height:auto;} 
    }
